@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --color-primary: theme('colors.primary');
  --color-secondary: theme('colors.secondary');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-wrapper{
  margin-top: 13px !important;
  margin-bottom: 13px !important;
  flex-wrap: wrap !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--color-secondary) !important;
}
.swiper-button-next::after , .swiper-button-prev::after{
 font-size:xx-small !important;
 font-weight: bolder !important;
 background-color: var(--color-primary);
 padding: 9px 12px;
 border-radius: 50%;
}

.swiper-pagination-bullet {
  background-color: var(--color-secondary) !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-secondary) !important;
  opacity: 1;
}
