@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0891B2;
  --color-hovprimary: #15A3C6;
  --color-secondary: #20D3EE;
  --color-hovsecondary: #4BD2E7;
  --color-accent: #059669;
  --foreground-rgb: 0, 0, 0;
}

.custom-dropdown {
  text-align: start;
  color: rgb(53, 53, 53);
  align-items: start;
}


html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
  transition: background-color 200ms ease, color 200ms ease;
}

.dark body {
  --foreground-rgb: 245, 245, 245;
  background-color: #0f172a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-wrapper{
  margin-top: 13px !important;
  margin-bottom: 13px !important;
  flex-wrap: wrap !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--color-secondary) !important;
}
.swiper-button-next::after , .swiper-button-prev::after{
 font-size:xx-small !important;
 font-weight: bolder !important;
 background-color: var(--color-primary);
 padding: 9px 12px;
 border-radius: 50%;
}

.swiper-pagination-bullet {
  background-color: var(--color-secondary) !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-secondary) !important;
  opacity: 1;
}
